body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    max-width: 1280px;
    margin: 0 auto;
}
.principal{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tiendavirtual-59927.appspot.com/o/Pruebas%2Fimagen1.webp?alt=media&token=e1f59e2e-7b3b-4542-a184-2d962de8d5c2'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Cubrir toda la pantalla verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
    z-index: 0;
    position: relative;    
}
.principal h1 {
    color: white;
}




.jumbotron {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tiendavirtual-59927.appspot.com/o/Pruebas%2Fimagen1.webp?alt=media&token=e1f59e2e-7b3b-4542-a184-2d962de8d5c2'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Cubrir toda la pantalla verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    position: relative;
}

.jumbotron h1 {
    color: white;
    z-index: 1;
}

.jumbotron::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
    z-index: 0;
}

.info-container {
    max-width: 100%;
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 64px 20px; /* Agregar espacio interno a los lados */
}

.info-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.info-container +p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.contactanos-contendor{
    padding: 64px 20px 64px 20px; 
}

.contactanos-contendor h1 {
    font-size: 36px;

    margin-bottom: 20px;
}
.contactanos-contendor h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.contactanos-contendor p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

/*Productos*/
.active {
    background-color: #007bff;
    color: #ffffff;
}
.navegacion{
    padding: 20px 20px 0px 20px;
}
.productos-conta{
    padding: 64px 20px 64px 20px;
}
/* CSS DANIEL*/
.jumbotron-spacing {
    padding: 50px;
}

.text-white {
    color: white;
}
.jumbotron-spacing {
    padding: 50px;
    background-color: #333; /* Color de fondo para el jumbotron */
}

.text-white {
    color: white;
}

.precio-granate {
    color: maroon; /* Color granate */
}
.img-fluid {
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* CSS Fabrizio */

.bg-marino {
    background-color: #044b91; /* Azul marino */
}

.panel {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .panel-quees {
    background-color: #f8f9fa; /* Color gris claro */
    color: #495057; /* Color gris oscuro */
  }

  .panel-img img {
    width: 100%;
    border-radius: 10px;
  }

  .container-terminos {
    text-align: justify;
  }

  .centered-button {
    text-align: center;
}